.columns01,.columns02,.columns03,.columns04{
    height:185px;
    width:320px;
    font-size: 18px;
    /*border:1px solid red;*/
}
.columns01{
     position: absolute;
     top:80px;
     left:185px;
 }
.columns02{
    position: absolute;
    top:80px;
    left:540px;
}
.columns03{
    position:absolute;
    left:185px;
    top:310px;
}
.columns04{
    position: absolute;
    left:540px;
    top:310px;
}
.panel2{
    width:625px;
    height:116px;
    border-left:4px solid #33877d;
    background-color: #ece9e5;
    position:absolute;
    left:197px;
    top:800px;
}
.content img{
    height:75px;
    width:75px;
    border-radius: 50%;
}

#foot{
    width: 1600px;
    height: 200px;
    border-top: 5px solid #32867c;
    position:relative;
}
#foot_logo_div{
    width: 100%;
    height: 180px;
    background-color: #151515;
}
#copyright{
    width: 100%;
    height: 20px;
    background-color: #111111;
    text-align: center;
}
.suggestion{
    height:390px;
    width:370px;
    /*border:1px solid red;*/
    float:right;
    position:relative;
    margin-right: 185px;
    margin-top:50px;
}

.content hr{
    border:1px dashed #cccccc;
}
.name{
    width:300px;
    height:30px;
    border-radius: 5px;
}
.email{
    width:300px;
    height:30px;
    border-radius: 5px;
}
.text{
    width:300px;
    height:100px;
}
.submit{
    width:75px;
    height:30px;
    background-color: #33877d;
    color:white;
}
#special{
    position:relative;
    margin-left: 80px;
}
#fm{
    width:360px;
    height:250px;
    border:1px solid #33877d;
    position:absolute;
    right: 200px;
    top:480px;
    overflow: hidden;
}
#fm h1{

    margin:0px;
    color:black;
    font-size:14px;
}
#fm li{
    list-sytle-type:none;
    display:block;
    width:360px;
    border:1px solid #33877d;
    border-bottom-width:0px;

}
#fm li{
    border-bottom-width:1px;
}

#fm li a{
    display:block;
    text-decoration:none;
    width:100%;
    padding:10px;
}

#fm li a span{
    display:none;
    color:white;
    font-size:15px;
    padding-top:10px;
    background:url("../img/bg2.jpg") no-repeat;
    background-size:360px 250px;


}
#fm li a:focus{
    background:#fff;
}

#fm li a:focus span{
    display:block;
    cursor:hand;
    font-size:18px;

}
#d{
    height:300px;
}
.panel2 p{
     font-family: ו;
    text-align: center;
    line-height: 90px;
    font-size: 30px;
    color: yellowgreen;
}
